<ion-content overflow-scroll="true">

<div style="margin: 0 auto;text-align: center;">
  <h1>FRA</h1>
</div>


  <p class="lead">
    <img src="img/logo.png" alt="MediaTek"><br>

<div style="margin: 0 auto;background: rgb(245,154,0);">

    <h1>Forgot Password?</h1>
</div>
<div ng-hide="SendForm">

<div style="margin: 0 auto;background: rgb(245,154,0);">
<H5>Enter your Email address to get password reset link</H5>

 <form name="forgotForm"  ng-submit="submitForm(forgotForm)" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" style="
    text-align: center;
    background: rgb(245,154,0);
">

    <input type="email" name="validEmail" ng-model="forgotpassword.ForgotEmail" placeholder="Email" required/>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$invalid &&
     !forgotForm.validEmail.$error.required">Invalid email </span>
    <span  ng-show="forgotForm.validEmail.$touched && forgotForm.validEmail.$error.required">
        Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$error.required">Cannot be left empty </span>
    <span  ng-show="submitted && !forgotForm.validEmail.$touched &&
     forgotForm.validEmail.$invalid && !forgotForm.validEmail.$error.required">
        Invalid email </span>


    <input type="submit" ng-click="submitted=true;" value="Send link">

    </form>
<br>
{{result}}

<button ng-click="sendAgain();" ng-hide="sendAgainButton">Send Again</button>
<div style="margin: 0 auto;text-align: center;background: rgb(245,154,0);">
 <H3> <a href="#/app/login">LogIn</a></H3>
 </div>
 </div>
 </div>

 </ion-content>
